<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'homepage' %}">Project-Review</a>
      <a class="navbar-brand" href="{% url 'homepage' %}">Home</a>
    </div>
    

      <div class="col-sm-6 col-md-6">
        {% if user.is_authenticated %}
        
        <div class="container">
          <div class="dropdown navbar-right">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              Account
            </button>
            <div class="dropdown-menu">
              <a href="{%url 'homepage'%}">Home</a><br>
              <a href="{%url 'profileview' user_id=user.id%}">View Profile</a><br>
              <a href="{% url 'new_project' %}">Add a Project</a><br>
              <a href="/admin/">Admin Dashboard</a><br>
              <a href="/logout">Logout</a>
            </div>
          </div>
        </div>
        
        {% else %}
        <li>
          <a class='btn btn-primary' href="/accounts/login">Login</a>
        </li>

        {% endif %}
      </div>
      <div class="container">
        <div class="dropdown navbar-right">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            APIs
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{%url 'profilesApi' %}" target="blank">Profiles API</a><br>
            <a class="dropdown-item" href="{%url 'projectsApi' %}" target="blank">Projects API</a>
          </div>
        </div>
      </div>
      <div>
        {% if user.is_authenticated %}
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{%url 'profileview' user_id=user.id%}">{{user.username|upper}}</a></li>
        </ul>
        {%endif%}
      </div>
  </div>
</nav>
</body>
</html>